@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

html {
margin: 0;
}

#home {
    background: black;
}



#logo-parent {
    width: 80%;
    margin: auto;
}

#button-parent {
    margin: auto;
    text-align: center;
    padding: 5%;
}

.main-button {
    padding: 1%;
    border: 5px solid black ;
    border-radius: 100px;
    background-color: white ;
    color: black;
    font-weight: bold;
    font-size: x-large;

    font-family: Permanent Marker, sans-serif;

    transition: ease-in-out .3s;
}

.main-button:hover {
    border: 5px solid  #7f32a8;
    color: white;
    background: black;

}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

#main {
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
}

#left, #right {

    display: inline-block;
    padding: 5%;
    font-family: Permanent Marker, sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}

.box {
    height: 400px;
    width: 400px;
    border: black solid 6px;
    border-radius: 10px;
    font-size: x-large;

}

header {
    text-align: center;
    font: x-large black;
    padding: 2%;
    font-family: Permanent Marker, sans-serif;
}

#reiplanning {
    background-image: url(http://free.pagepeeker.com/v2/thumbs.php?size=x&url=http%3A%2F%2Freiplanning.com%2Findex.html);
    background-size: cover;
    background-position: center;
}