body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    font-size: large;
}

#searchbar {
    text-align: center;
    padding: 3%;
    font-size: larger;
}

#results {
    width: 60%;
    margin: auto;
    display: none;
}

img {
    max-width: 300px;
}

#error {
    display: none;
    text-align: center;
}
